<br>
<hr>
<div class="row">
	<div class="col-md-12">
        <%
            var title = context.title;
            var contents = context.posts;
            var thisPage = context.page;
            var totalPage = context.pageCount;
            var perPage = context.perPage;
            var totalRec = context.totalRecords;
            var courseType = contents[0]._doc.courseType;
        %>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Index</th>
                    <th scope="col">Title</th>
                    <th scope="col">Writer</th>
                    <th scope="col">Created At</th>
                    <th scope="col">Views</th>
                    <% if(user.email == "leedo01219@gmail.com"){%>
                    <th scope="col">Deletion</th>
                    <%}%>
                </tr>
            </thead>
            <tbody>
                <% for(var i = 0; i < totalRec; i++){ %>
                <tr>
                <td scope="col"></td>  
                <td scope="col" onclick="javascript:window.location='/showpost/<%=contents[i]._id%>'"><%=contents[i]._doc.title%></td>
                <td scope="col"><%=contents[i]._doc.writer._doc.email%></td>
                <td scope="col"><%=contents[i]._doc.created_at%></td>
                <td scope="col"></td>
                <% if(user.email == "leedo01219@gmail.com"){%>
                <td scope="col"><a class="btn btn-secondary" name="" href="#">Delete Post</a></td>
                <%}%>
                </tr>
                <%}%>
            </tbody>
        </table>
        <hr>
        <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                  <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                   <% for(var i = 1; i <= totalPage; i++){ %>
                       <li class="page-item"><a class="page-link" href="/<%=courseType%>/<%=i%>"><%=i%></a></li>
                   <%}%>
                  <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
        </nav>
        <% if(user.email == "leedo01219@gmail.com"){%>
        <a class="btn btn-secondary" name="" href="/addpost/<%=courseType%>">Add Post</a>
        <%}%>
    </div>
</div>