<br>
<hr>
<div class="row">
	<div class="col-md-12">
        <form method="post" action="/addpost">
            <%
                var curTitle = posts._doc.title;
                var curContents = posts._doc.contents;
                var curWriter = posts._doc.writer.email;
                var curDate = posts._doc.updated_at;
                var paramId = paramId;

                var entities = new Entities();
                var decodedContents = entities.decode(curContents);
                var writerId = user._id;
            %>
        <h1><%=curTitle%></h4>
            <div class="form-group">
                <input type="hidden" name="writer" id="writer" value="<%=user.email%>" readonly>
            </div>
            <div class="form-group">
                <div class="page-header text-right">
                <%
                    //For date formatting.
                    var d = new Date(curDate);

                    var form = d.getFullYear() + '-' + (d.getMonth()+1) + '-' + d.getDate() + ' ' +d.getHours() + ':';

                    var formedMin = Number(d.getMinutes()) < 10 ? ('0' + d.getMinutes()) : d.getMinutes();
                    var formedSec = Number(d.getSeconds()) < 10 ? ('0' + d.getSeconds()) : d.getSeconds();

                    form += formedMin + ':' + formedSec;
                %>
                    <label for="contents"><h5>Written Date: <%=form%></h5></label>
                    <textarea id="contents" name="contents" class="filled" readonly><%=decodedContents%></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="writer" style="font-size:1rem; font-weight:bold">Writer : </label>
                <a href="mailto:<%=curWriter%>"><input type="text" value="<%=curWriter%>" readonly style="border:1ch;font-size:1rem; font-weight:bold"></a>
            </div>
        </form>
        <br>
        <hr>
        <div class="card">
            <div class="card-header">
                <h6 style="text-align: center">All Comments</h5>
            </div>
        </div>
        <% 
            var comments = posts._doc.comments;

            for(var i = 0; i < comments.length; i++){
                var commentId = comments[i]._doc._id;

                //For date formatting.
                var d = new Date(comments[i]._doc.created_at);

                var form = d.getFullYear() + '-' + (d.getMonth()+1) + '-' + d.getDate() + ' ' +d.getHours() + ':';

                var formedMin = Number(d.getMinutes()) < 10 ? ('0' + d.getMinutes()) : d.getMinutes();
                var formedSec = Number(d.getSeconds()) < 10 ? ('0' + d.getSeconds()) : d.getSeconds();

                form += formedMin + ':' + formedSec;
        %>
        <div class="card">
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p><%=comments[i]._doc.contents%></p>
                    <% if(user.email == comments[i]._doc.writer._doc.email){ %>
                    <p>
                        <form action="/deleteComment" method="post">
                            <input type="hidden" name="postId" id="postId" value="<%=paramId%>">
                            <input type="hidden" name="commentId" id="commentId" value="<%=commentId%>">
                            <button type="submit"class="btn btn-secondary form-control">Delete Comment</button>
                        </form>
                    </p>
                    <%}%>
                    <footer class="blockquote-footer">Posted on: <%=form%> by <a href="mailto:<%=comments[i]._doc.writer._doc.email%>"><%=comments[i]._doc.writer._doc.email%></a></footer>
                </blockquote>   
            </div>
        </div>
        <%}%>
        <br>
        <div class="card">
        <form action="/addComment" method="post">
            <div class="card-header">
            <h6 style="text-align:center">Leave a Comment</h5>
            </div>
            <div class="card-body">
                <div class='well'>
                    <div class="row">
                        <div class="col-md-6">
                            <input type="hidden" name="postId" id="postId" value="<%=paramId%>">
                            <input type="hidden" name="writerId" id="writerId" value="<%=writerId%>">
                            <input type="text" class="form-control" name="writerName" value="<%=user.name%>" readonly>
                        </div>
                        <div class="col-md-6">
                            <input type="email" class="form-control" name="writerEmail" value="<%=user.email%>" readonly>
                            <br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <textarea class="form-control" rows="4" placeholder="Comment" name="commentText"></textarea>
                            <br />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 col-md-offset-10">
                            <button type="submit"class="btn btn-primary form-control">Comment</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        </div>
        <hr>
        <br>
        <div>
            <a class="btn btn-secondary" name="" href="/<%=posts.courseType%>/1">Back to List</a>
        </div>
        <br>
    </div>
</div>
</div>